/* место для вашего кода */
.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid black;
  
}

.header__menu-link {
  border-bottom: 1px solid black;
  letter-spacing: 0.01em;
}

.header__menu-item_active .header__menu-link {
  border-bottom: 0px;
}

.header__logo {
  height:105px;
  grid-area: logo;
}

.header__logo-image {
  height: 100%;
}

.contacts {
  font-size: 18px;
  list-style-type: none;
  grid-area: contacts;
  justify-self: end;
  padding-right: 28px;
  line-height: 24.3px;
}

.header__menu-contacts {
  max-width: 237px;
  letter-spacing: normal;
}

.header {
  padding: 94px 24px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-template-rows: 105px;
  grid-template-areas: 
  "nav logo contacts";
  align-items: center;
}

.header__menu-list {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  list-style-type: none;
  grid-area: nav;
  padding-left: 26px;
  letter-spacing: 0.01em;
}

.cover {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 757px;
  width: 100%;
}

.cover__title {
  position: absolute;
  top: 165px;
  left: 50px;
  font-weight: 700;
  font-size: 100px;
  color: #fff;
  width: 1000px;
  letter-spacing: 0.3em;
  line-height: 100px;
  text-transform: uppercase;
}

.accent-span {
  display: block;
  margin-bottom: 20px;
}

.lh115 {
  line-height: 115px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-space {
  text-transform: uppercase;
  letter-spacing: 0.6em;
}

.ls_normal {
  letter-spacing: normal;
}

.cover-text {
  text-transform: uppercase;
  color: #fff;
  line-height: 28px;
  font-weight: 400;
  word-spacing: 0.9em;
}

.ws80 {
  word-spacing: 0.8em;
}

.button {
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 22px;
  background: transparent;
  width: 256px;
  height: 51px;
}

.cover__lower {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 78px;
  right: 50px;
  bottom: 50px;
  font-size: 22px;
}

.lots {
  padding: 179px 24px 146px;
}

.lots-title {
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 40px;
  font-size: 40px;
  padding-bottom: 27px;

}

.lots-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 563px;
  gap: 25px;
}

.lot {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  color: #fff;
  position: relative;
}

.lot1.lot {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/card-lot-01.jpg);
}

.lot2.lot {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/card-lot-02.jpg);
}

.lot3.lot {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/card-lot-03.jpg);
}

.lot-title {
  position: absolute;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  font-weight: 700;
  top: 50px;
  left: 40px;
  right: 40px;
  font-size: 22px;
  line-height: 26.4px;
}

.lot-description {
  position: absolute;
  font-size: 20px;
  line-height: 24px;
  bottom: 50px;
  left: 40px;
  right: 40px;
  font-weight: 400;
}

.lots__show-more_link {
  display: inline-block;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-size: 20px;
  margin: 30px 40px 0px 40px;
}

.about {
  padding: 0px 24px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 595px;
  gap: 15px;
  grid-template-areas:
  "whitelogo description";
}

.background-image {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  grid-area: whitelogo;
  justify-self: center;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.about__logo-image {
  height: 113px;
}

.about__title {
  grid-area: description;
  text-transform: uppercase;
  margin-top: 136px;
  font-size: 40px;
  font-weight: 700;
}

.about__description {
  margin-top: 100px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.01em;
  line-height: 24px;
}

.ls4.about__description {
  margin-top: 24px;
  letter-spacing: normal;
}

.footer {
  padding: 182px 50px 88px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: 
  "contacts footer-nav icons";
}

.contacts.footer-area {
  justify-self: start;
}

.header__menu-list.footer-area {
  grid-area: footer-nav;
  flex-direction: column;
  gap: 0;
  justify-self: center;
  padding: 0;
}

.icons-list {
  display: flex;
  justify-self: end;
  grid-area: icons;
  list-style-type: none;
  justify-content: space-between;
  gap: 48px;
}

.icon {
  width: 48px;
  height: 48px;
}