/* место для вашего кода */
.addresses {
  font-style: normal;
}

.menu-item {
  list-style: circle;
}

.links-list-item_no-bullit {
  list-style: none;
}

.menu-link {
  border-bottom: 1px solid black;
  letter-spacing: 0.01em;
}

.menu-item_active {
  border-bottom: 0px;
}

.header__logo {
  height: 105px;
  grid-area: logo;
}

.header__logo-image {
  height: 100%;
}

.addresses {
  font-size: 18px;
  padding-right: 28px;
  line-height: 24.3px;
}

.menu-contacts {
  max-width: 237px;
  letter-spacing: normal;
}

.header__addresses {
  grid-area: contacts;
  justify-self: end;
}

.header {
  padding: 94px 24px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-template-areas: "nav logo contacts";
  align-items: center;
}

.menu-list {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 31px;
  list-style-type: none;
  grid-area: nav;
  padding-left: 26px;
  letter-spacing: 0.01em;
}

.cover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 757px;
  width: 100%;
}

.cover__title {
  padding: 165px 50px 0px 50px;
  font-weight: 700;
  font-size: 100px;
  color: #fff;
  width: 1000px;
  width: 100%;
  letter-spacing: 0.3em;
  line-height: 100px;
  text-transform: uppercase;
}

.accent-span {
  display: block;
  margin-bottom: 20px;
}

.line-height-extended {
  line-height: 115px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-space {
  text-transform: uppercase;
  letter-spacing: 0.6em;
}

.ls_normal {
  letter-spacing: normal;
}

.cover-text {
  text-transform: uppercase;
  color: #fff;
  line-height: 28px;
  font-weight: 400;
  word-spacing: 0.9em;
  margin: 0px 0px 50px 78px;
}

.word-spacing-extended {
  word-spacing: 0.8em;
}

.button {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 22px;
  background: transparent;
  min-width: 256px;
  min-height: 51px;
  margin: 0px 50px 50px 0px;
}

.cover__lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  padding-top: 116px;
}

.lots {
  padding: 179px 24px 146px;
}

.lots-title {
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 40px;
  font-size: 40px;
  padding-bottom: 27px;
}

.letter-spacing-extended {
  letter-spacing: 0.13em;
}

.lots__show-more_link {
  display: inline-block;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-size: 20px;
  margin: 30px 40px 0px 40px;
}

.lots__cards-list {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  flex-wrap: wrap;
}

.card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  min-height: 563px;
  position: relative;
}

.overlay {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  height: 100%;
  width: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_painting {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  padding: 51px 38px 0px;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 0px 40px 48px;
  z-index: 1;
}

.about {
  padding: 0px 24px 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  grid-template-areas: "whitelogo description";
}

.background-image {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  grid-area: whitelogo;
  justify-self: center;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.about__logo-image {
  height: 113px;
}

.about__title {
  grid-area: description;
  text-transform: uppercase;
  margin-top: 136px;
  font-size: 40px;
  font-weight: 700;
}

.about__description {
  margin-top: 100px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.01em;
  line-height: 24px;
}

.letter-spacing-extended.about__description {
  margin-top: 24px;
  letter-spacing: normal;
}

.footer {
  padding: 180px 50px 88px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "contacts footer-nav icons";
}

.contacts.footer-area {
  justify-self: start;
}

.menu-list.footer-area {
  grid-area: footer-nav;
  flex-direction: column;
  gap: 0;
  justify-self: center;
  padding: 0;
}

.footer__menu-list.menu-item {
  list-style: none;
}

.icons-list {
  display: flex;
  justify-self: end;
  grid-area: icons;
  list-style-type: none;
  justify-content: space-between;
  gap: 48px;
}

.icon {
  width: 48px;
  height: 48px;
}